@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}


body{
    background: linear-gradient(#100B32, #322098);
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden
}

.header{
    position: relative;
}

.logo{
    background-color: #E8FF42;
    padding: 5px 12px;
    border-radius: 0px 0px 60px 0px;
    position: absolute; 
    z-index: 10;        
}

.logo img{
    width: 80%;
}

.navbar{
    position: relative; 
    z-index: 1;
    color: #fff;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0px 0px 10px 0px;

    display: flex;
    justify-content: flex-end;
    padding: 16px 20px;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 80px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 300;
}

.right-nav{
    margin-left: 28%;
    padding: 5px 16px;
    background-color: #E8FF42;
    color: #322098;
    border-radius: 10px;
}

.right-nav p{
    font-weight: 800;
}

/* Banner Styles */
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

/* orbit */
.layer-orbit{
    position: absolute;
    z-index: 4;
    pointer-events: none;
}

.layer-orbit img{
  position: absolute;
  width: 230px;
  height: 230px;
  /* ... styling glassmorphism dan glow #E8FF42 tetap di sini ... */
}

.abstract-icon-1 {
  /* X minus = ke kiri, Y minus = ke atas */
  transform: translate(-400px, -310px) rotate(-15deg);
}

/* --- IKON 2: Didorong ke Kanan Atas (Lebih Jauh) --- */
.abstract-icon-2 {
  /* X plus = ke kanan, Y minus = ke atas */
  transform: translate(-530px, 40px) rotate(-8deg);
}

/* --- IKON 3: Didorong ke Kanan Bawah --- */
.abstract-icon-3 {
  /* X plus = ke kanan, Y plus = ke bawah */
  transform: translate(300px, -160px) rotate(-8deg);
}
/* orbit */

.aksen-circle{
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.aksen-squareline{
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.bg-banner{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-banner{
    position: relative;
    z-index: 5;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 180px;   
    padding-top: 130px;
}

.content-banner h1{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 0px;
    text-align: center;
    text-shadow: 0 0 15px rgba(232, 255, 66, 0.6);
}

.text-pjj {
  font-size: 80px;
  font-weight: 800;
  color: #E8FF42;
}

.text-challenge {
  font-size: 80px;
  font-weight: 800;
  color: #E8FF42; /* Misalnya CHALLENGE-nya pakai warna aksen neon */
  letter-spacing: 2px;
  margin-top: -40px;
}

.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 100px;
    max-width: 190px;
    padding: 5px 22px;
}

.scroll img{
    width: 35px;
    height: 35px;
}

.scroll p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
/* end-banner */

/* divider */
.divider{
  position: absolute;  
  width: 100%; 
  height: auto;
  z-index: 6;
  pointer-events: none; 
  margin-top: -400px;
  margin-bottom: -5px;
}

.divider img{
  width: 100%;
  display: block;
}
/* divider */

/* About Section Styles */
.about{
    position: relative;
    z-index: 2;
    height: 120vh;
}

.about h1{
    color: #E8FF42;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-top: 150px;
    text-shadow: 0 0 15px rgba(232, 255, 66, 0.6);
}

.content-about{
    margin: 30px 200px 50px 200px;
    border-radius: 36px;
    border: 1px solid #E8FF42;
    background:#322098;
}

.content-about p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    padding: 24px;
}
/* About Section Styles */

/* our journey */
.journey-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
    padding: 0px 72px;
}

.journey-title{
    display: flex;
    flex-direction: column;
}

.journey-title-1{
    color: #fff;
    font-size: 48px;
    font-weight: 300;
}

.journey-title-2{
    color: #E8FF42;
    font-size: 60px;
    font-weight: 800;
    margin-top: -24px;
}

.journey-year-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.journey-year{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 12px;
    padding: 5px 38px;
    color: #fff;
    font-weight: 300;
}

.journey-year p{
    font-size: 24px;
}

.dropdown{
    background: #E8FF42;
    border-radius: 100%;
    /* padding: 12px 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.dropdown img{
    width: 80%;
}

.journey-content{
    border-radius: 36px;
    background:#322098;
    margin: 16px 72px 50px 72px;
    /* padding: 16px; */
    display: flex;
    justify-content: space-between;
}

.left-journey-content{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 32px;
    width: 40%;
    overflow: hidden;
}

.journey-bg{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.journey-bg-1{
    width: 160px;
    height: 160px;
    transform: translate(170px, -60px);
}

.journey-bg-2{
    width: 240px;
    height: 240px;
    transform: translate(-195px, 180px);
}

.text-participant{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 30px 0px 0px 50px;
}

.spacing{
    width: 30%;
}

.text-prize{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 12px;
    /* margin-right: 10px; */
}

.journey-text-highlight{
    color: #fff;
    font-size: 70px;
    font-weight: 800;
}

.journey-text-dsc{
    color:#fff;
    font-size: 28px;
    font-weight: 300;
    margin-top: -20px;
}

.journey-text-dsc-left{
    color:#fff;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: -20px;
}

.journey-text-dsc-right{
    color:#fff;
    font-size: 28px;
    font-weight: 300;
    text-align: right;
    margin-top: -20px;
}

.right-journey-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 24px;
    margin: 16px 16px 16px 0px;
    border-radius: 36px;
    background:#fff;
}

.journey-card{
    background: rgba(50, 32, 152, 0.24);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 18px;
    padding: 24px;
    color: #fff;
    font-weight: 300;
    width: 248px;
    height: 316px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.journey-card-img{
    width: 140px;
    height: 140px;
}

.journey-card p{
    font-size: 20px;
    text-align: center;
    color: #E0FF0F;
}

.participant-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background:#fff;
    padding: 8px 20px;
    border-radius: 12px;
}

.participant-info p{
    font-size: 18px;
    font-weight: 500;
    color: #9AB100;
}
/* our journey */

/* bg-pesawat */
.bg-pesawat{
    position: absolute;
    z-index: 1;
    top: 140%; 
    right: -200px; /* Geser sedikit ke luar layar untuk efek dinamis */  
    pointer-events: none;
}
/* bg-pesawat */

/* event */
.events{
    position: relative;
    z-index: 2;
    height: 120vh;
    padding: 0px 0px;
}

.events h1{
    color: #E8FF42;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    text-shadow: 0 0 15px rgba(232, 255, 66, 0.6);
}

.events-list{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-top: 100px;
}

.events-card-container{
    position: relative;
}

.icn-events{
    position: absolute;
    z-index: 1;
    top: -28%;
    left: 50px;
}

.events-card{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1.8px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.neon-blur1{
    margin-top: -170px;
    width: 130%;
}

.events-card p{
    font-size: 28px;
    text-align: center;
    color: #B5CE00;
    margin-top: -50px;
}

.events-btn{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 18px;
    margin-bottom: 28px;
}

.btn-register{
    background-color: #CBE600;
    padding: 10px 28px;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn-detail{
    background-color: #fff;
    padding: 10px 32px;
    border-radius: 12px;
    border: none;
    color: #CBE600;
    font-size: 18px;
    font-weight: 400;
}


/* ========================================= */
/* TAMBAHAN CSS KHUSUS MEKANIK CAROUSEL      */
/* ========================================= */

.carousel-wrapper {
    width: 100%;
    overflow: hidden; /* Menyembunyikan kartu ke-4 yang kelebihan ke kanan */
    
    /* Ruang atas agar ikon .icn-events tidak terpotong oleh overflow hidden */
    padding-top: 100px; 
    padding-bottom: 20px;
}

.events-list {
    /* Menimpa margin-top aslimu karena sudah dipindah ke padding wrapper di atas */
    margin-top: 0; 
    
    /* Menimpa space-between agar kartu berjejer rapat ke kiri */
    justify-content: flex-start; 
    
    flex-wrap: nowrap; /* Mencegah kartu turun ke bawah */
    transition: transform 0.5s ease-in-out; /* Animasi geser */
}

.events-card-container {
    position: relative;
    max-width: 420px; 
    flex: 0 0 auto;
}

/* Desain untuk titik (dot) indikator di bawah */
.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: #E8FF42;
    width: 32px;
    border-radius: 10px;
}
/* event */