<section id="about" class="about">
    <h1>About Us</h1>
    <article class="content-about">
        <p>PJJ Challenge adalah kompetisi digital nasional yang diinisiasi oleh Program Studi Informatika Program Pendidikan Jarak Jauh (PJJ) Universitas Islam Indonesia (UII). Kami hadir sebagai wadah inklusif bagi talenta kreatif dan pemikir kritis di seluruh Indonesia untuk menguji logika, mengasah kreativitas visual, dan menuangkan solusi teknologi tanpa sekat jarak fisik.</p>
    </article>
    
    <div class="journey">
        <header class="journey-header">
            <div class="journey-title">
                <p class="journey-title-1">Our Journey</p>
                <p class="journey-title-2">Year Over Year</p>
            </div>
            <div class="journey-year-selection">
                <div class="journey-year">
                    <p>2025</p>
                </div>
                <div class="dropdown">
                    <img src="assets/icons/icon_down.svg" alt="Dropdown">
                </div>
            </div>
        </header>
        
        <div class="journey-content">
            <div class="left-journey-content">
                <div class="journey-bg">
                    <img class="journey-bg-1" src="assets/graphics/data-assets.svg" alt="">
                    <img class="journey-bg-2" src="assets/graphics/trophy-assets.svg" alt="">
                </div>
                <div class="text-participant">
                    <div>
                        <p class="journey-text-highlight">375+</p>
                        <p class="journey-text-dsc">Total Peserta</p>
                    </div>
                    <div class="spacing"></div>
                </div>
                <div class="text-prize">
                    <div class="spacing"></div>
                    <div>
                        <p class="journey-text-dsc-left">Total Hadiah</p>
                        <p class="journey-text-highlight">Rp40+</p>
                        <p class="journey-text-dsc-right">Juta</p>
                    </div>
                </div>
            </div>
            
            <div class="right-journey-content">
                <div class="journey-card">
                    <img class="journey-card-img" src="assets/icons/brain-icn.svg" alt="">
                    <p>Daily Brain Challenge</p>
                    <div class="participant-info">
                        <img src="assets/icons/majesticons_user.svg" alt="">
                        <p>150 Peserta</p>
                    </div>
                </div>
                <div class="journey-card">
                    <img class="journey-card-img" src="assets/icons/brain-icn.svg" alt="">
                    <p>Daily Brain Challenge</p>
                    <div class="participant-info">
                        <img src="assets/icons/majesticons_user.svg" alt="">
                        <p>150 Peserta</p>
                    </div>
                </div>
                <div class="journey-card">
                    <img class="journey-card-img" src="assets/icons/brain-icn.svg" alt="">
                    <p>Daily Brain Challenge</p>
                    <div class="participant-info">
                        <img src="assets/icons/majesticons_user.svg" alt="">
                        <p>150 Peserta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-pesawat">
    <img src="assets/graphics/aksen-pesawat.svg" alt="">
</div>