<section id="home" class="banner">
    <div class="content-banner">
        <h1 class="layer-text">
            <span class="text-pjj">PJJ</span>
            <span class="text-challenge">CHALLENGE</span>
        </h1>
        <div class="scroll">
            <img src="assets/icons/scroll-icn.svg" alt="Scroll icon">
            <p>Scroll More</p>
        </div>
    </div>
    <div class="layer-orbit">
        <div class="abstract-icon-1">
            <img src="assets/graphics/brain-assets.svg" alt="Brain decorative icon">
        </div>
        <div class="abstract-icon-2">
            <img src="assets/graphics/article-icn.svg" alt="Article decorative icon">
        </div>
        <div class="abstract-icon-3">
            <img src="assets/graphics/poster-icn.svg" alt="Poster decorative icon">
        </div>
    </div>
    <img class="aksen-circle" src="assets/graphics/circle-blurr-ungu.svg" alt="">
    <img class="aksen-squareline" src="assets/graphics/aksen-square.svg" alt="">
    <img class="bg-banner" src="assets/images/fti-bg.png" alt="FTI Background">
</section>

<div class="divider">
    <img src="assets/graphics/aksen-1.svg" alt="">
</div>