<section id="events" class="events">
    <h1>Our Events</h1>
    <div class="carousel-wrapper">
        <div class="events-list" id="eventTrack">
            <!-- Event 1 -->
            <div class="events-card-container">
                <img class="icn-events" src="assets/icons/catchmoment-icn.svg" alt="">
                <div class="events-card">
                    <img class="neon-blur1" src="assets/graphics/neon-blur1.svg" alt="">
                    <p>Catch The Moment</p>
                    <div class="events-btn">
                        <button class="btn-register">Daftar Sekarang</button>
                        <button class="btn-detail">Detail</button>
                    </div>
                </div>
            </div>
            <!-- Event 2 -->
            <div class="events-card-container">
                <img class="icn-events" src="assets/icons/spaper-icn.svg" alt="">
                <div class="events-card">
                    <img class="neon-blur1" src="assets/graphics/neon-blur1.svg" alt="">
                    <p>Short Paper</p>
                    <div class="events-btn">
                        <button class="btn-register">Daftar Sekarang</button>
                        <button class="btn-detail">Detail</button>
                    </div>
                </div>
            </div>
            <!-- Event 3 -->
            <div class="events-card-container">
                <img class="icn-events" src="assets/icons/essay-icn.svg" alt="">
                <div class="events-card">
                    <img class="neon-blur1" src="assets/graphics/neon-blur1.svg" alt="">
                    <p>Essay</p>
                    <div class="events-btn">
                        <button class="btn-register">Daftar Sekarang</button>
                        <button class="btn-detail">Detail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-indicators">
        <span class="dot active" onclick="moveSlide(0)"></span>
        <span class="dot" onclick="moveSlide(1)"></span>
    </div>
</section>