<section id="faq" class="faq">
    <h1>Frequently Asked Questions</h1>
    <div class="container-faq">
        <div class="icn-faq">
            <img src="assets/icons/icn-faq.svg" alt="FAQ Icon">
        </div>
        <div class="general-question">
            <!-- FAQ Item 1 -->
            <div class="card-faq" onclick="toggleFAQ(this)">
                <div class="question">
                    Kenapa harus memilih Konveksi tas spunbond dan paper bag Nailil Barokah?
                    <span class="icon-faq">
                        <iconify-icon icon="line-md:chevron-small-down" style="color: #797979" width="30"></iconify-icon>
                    </span>
                </div>
                <div class="text-faq">
                    <p>
                        - Pelayanan Yang Ramah <br>
                        - Proses Pembuatan Yang Cepat <br>
                        - Siap Pengiriman Luar Kota <br>
                        - Menerima Pesanan Khusus Untuk Desain Tas <br>
                        - Menggunakan Bahan Bahan Yang Berkualitas
                    </p>
                </div>
            </div>
            <!-- FAQ Item 2 -->
            <div class="card-faq" onclick="toggleFAQ(this)">
                <div class="question">
                    Kenapa harus memilih Konveksi tas spunbond dan paper bag Nailil Barokah?
                    <span class="icon-faq">
                        <iconify-icon icon="line-md:chevron-small-down" style="color: #797979" width="30"></iconify-icon>
                    </span>
                </div>
                <div class="text-faq">
                    <p>
                        - Pelayanan Yang Ramah <br>
                        - Proses Pembuatan Yang Cepat <br>
                        - Siap Pengiriman Luar Kota <br>
                        - Menerima Pesanan Khusus Untuk Desain Tas <br>
                        - Menggunakan Bahan Bahan Yang Berkualitas
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>