<section id="support" class="support">
    <div class="support-wrapper">
        <div class="container-support">
            <div class="organized-by">
                <div class="organized-by-text">
                    <p>Organized by</p>
                    <img src="assets/graphics/container-organized-by.svg" alt="">
                </div>
                <img class="pjj-logo" src="assets/icons/pjj-icn.svg" alt="PJJ Logo">
            </div>
            <div class="support-by">
                <p>Support by</p>
                <div class="support-by-img-container">
                    <img src="assets/icons/UII_LOGO.svg" alt="UII Logo">
                    <img src="assets/icons/infor.svg" alt="Informatics Logo">
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="contact-content">
                <img src="assets/icons/icn-phone.svg" alt="Phone icon">
                <p>Contact: +6285155370503</p>
            </div>
            <img class="contact-wrapper" src="assets/graphics/contact-wrapper.svg" alt="">
        </div>
    </div>
    <!-- background decor -->
    <img class="bg-footer" src="assets/graphics/gradient-footer.svg" alt="">
</section>

<footer class="footer">
    <div class="ig-wrapper">
        <img src="assets/icons/icn_ig.svg" alt="Instagram Icon">
        <p>@pjj.informatics.uii</p>
    </div>
    <div class="web-wrapper">
        <img src="assets/icons/icn_web.svg" alt="Web Icon">
        <p>informatics.uii.ac.id/pjj</p>
    </div>
</footer>