<header class="header">
    <div class="logo">
        <img src="assets/icons/logo.svg" alt="PJJ Challenge Logo">
    </div>
    <nav class="navbar">
        <!-- Hamburger Icon for Mobile -->
        <div class="hamburger" onclick="toggleMobileMenu()">
            <iconify-icon icon="line-md:menu" width="32" id="menu-icon"></iconify-icon>
        </div>

        <ul class="nav-links" id="nav-links">
            <!-- Close icon for mobile menu -->
            <li class="mobile-close" onclick="toggleMobileMenu()">
                <iconify-icon icon="line-md:close" width="32"></iconify-icon>
            </li>
            <li><a href="#about" onclick="toggleMobileMenu()">About Us</a></li>
            <li><a href="#events" onclick="toggleMobileMenu()">Our Events</a></li>
            <li><a href="#faq" onclick="toggleMobileMenu()">FAQ</a></li>
        </ul>
        <div class="right-nav">
            <p id="timer">00:00:00</p>
        </div>
    </nav>
</header>