<section id="timeline" class="timeline">
    <h1>Timeline</h1>
    <div class="container-timeline">
        <div class="content-timeline">
            <div class="card-timeline">
                <p>Pendaftaran & Pengumpulan Karya</p>
                <div class="circle-card-timeline">
                    <img src="assets/graphics/neon-blur1.svg" alt="">
                </div>
                <img class="icn-card-timeline" src="assets/icons/icn-file.svg" alt="">
            </div>
            <div class="line-timeline">
                <img src="assets/graphics/line-below.svg" alt="">
                <div class="line-dot"></div>
            </div>
            <div class="date-legend">
                <p>17 - 28 Juni 2026</p>
            </div>
            <div class="fill-card-timeline"></div>
        </div>
        <div class="content-timeline-reverse">
            <div class="card-timeline">
                <p>Tech Trivia Kilat</p>
                <div class="circle-card-timeline">
                    <img src="assets/graphics/neon-blur1.svg" alt="">
                </div>
                <img class="icn-card-timeline-reverse" src="assets/icons/icn-rocket.svg" alt="">
            </div>
            <div class="line-timeline-reverse">
                <img src="assets/graphics/line-above.svg" alt="">
                <div class="line-dot-reverse"></div>
            </div>
            <div class="date-legend">
                <p>17 - 28 Juni 2026</p>
            </div>
            <div class="fill-card-timeline"></div>
        </div>
        <div class="content-timeline">
            <div class="card-timeline">
                <p>Penilaian Dewan Juri</p>
                <div class="circle-card-timeline">
                    <img src="assets/graphics/neon-blur1.svg" alt="">
                </div>
                <img class="icn-card-timeline" src="assets/icons/icn-assesment.svg" alt="">
            </div>
            <div class="line-timeline">
                <img src="assets/graphics/line-below.svg" alt="">
                <div class="line-dot"></div>
            </div>
            <div class="date-legend">
                <p>17 - 28 Juni 2026</p>
            </div>
            <div class="fill-card-timeline"></div>
        </div>
        <div class="content-timeline-reverse">
            <div class="card-timeline">
                <p>Pengumuman (Live)</p>
                <div class="circle-card-timeline">
                    <img src="assets/graphics/neon-blur1.svg" alt="">
                </div>
                <img class="icn-card-timeline-reverse" src="assets/icons/icn-toa.svg" alt="">
            </div>
            <div class="line-timeline-reverse">
                <img src="assets/graphics/line-above.svg" alt="">
                <div class="line-dot-reverse"></div>
            </div>
            <div class="date-legend">
                <p>17 - 28 Juni 2026</p>
            </div>
            <div class="fill-card-timeline"></div>
        </div>
    </div>
</section>