<section id="news" class="recent-update">
    <h1>Recent Update</h1>
    <div class="static-carousel">
        <a href="https://www.instagram.com/pjj.informatics.uii/" target="_blank" class="card side-card">
            <img src="assets/images/news1.png" alt="News 1">
        </a>
        <a href="https://www.instagram.com/pjj.informatics.uii/" target="_blank" class="card center-card">
            <img src="assets/images/news3.png" alt="News 3">
        </a>
        <a href="https://www.instagram.com/pjj.informatics.uii/" target="_blank" class="card side-card">
            <img src="assets/images/news2.png" alt="News 2">
        </a>
    </div>
</section>