/* recent update */
.recent-update {
    position: relative;
    z-index: 2;
    height: 100vh;
    padding: 0px 0px;
}

.recent-update h1 {
    color: #E8FF42;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    text-shadow: 0 0 15px rgba(232, 255, 66, 0.6);
}

.static-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; 
  margin-top: 70px;
  width: 100%;
}

.card {
  position: relative;
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: #fff;
  transition: all 0.4s ease; 
  text-decoration: none;
}

/* --- KARTU SAMPING (KIRI & KANAN) --- */
.side-card {
  transform: scale(0.85); 
  opacity: 0.9; 
  z-index: 1; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 350px;
  height: 420px;
  overflow: hidden;
}

.side-card img {
    width: 100%;
}

/* --- KARTU TENGAH (HIGHLIGHT POP-UP) --- */
.center-card {
  transform: scale(1.1); 
  opacity: 1; 
  z-index: 2; 
  box-shadow: 0 10px 40px rgba(210, 210, 210, 0.2);
  width: 416px;
  height: 520px;
  overflow: hidden;
}

.center-card img {
    width: 100%;
}